
/*body {  
  width: 700px;
} */


#octo-body {
  /*position: absolute;*/
  display: block;
  border: 1px solid red;
  width: 210px;
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 120px auto 0px auto;
  z-index: 1
  
}

#octo-hat {
  position: absolute;
  top: 35px;
  display: block;
  width: 276px;
  margin-left: auto;
  margin-right: auto;
  /*margin-top: -358px;*/
  border: 1px solid red;
  z-index: 5
}

#octo-glasses {
  position: absolute;
  top: 223px;
  right: 45%;
  display: block;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  
  z-index: 5
}